<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="timer.js"></script>
</head>
<body onload="timer(30)">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand" src="/images/logo.png">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/add">Add New Question</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1 sidenav">
            <p><a href="#">Sample link</a></p>

        </div>

        <form action="/sendAnswer">
            <input type="checkbox" id="emptyInput" value="" style="visibility:hidden" class="radio" name="answer"
                   checked/></label>
            <div class="col-sm-8 text-center">
                <h4 th:text="'Question ' + ${questionNr}"></h4>
                <h1 th:text="${question.question}"></h1>
                <h4 id="time">Pozostały czas: 30s </h4>
                <input style="visibility: hidden" th:value="${question.id}" name="questionId"></input>
                <hr>
                <div class="col-sm-6 text-center">
                    <label>
                        <input th:text="${answer.answerA}" type="checkbox" class="radio" th:value="${answer.answerA}"
                               name="answer"/></label>
                    <hr>
                </div>
                <div class="col-sm-6 text-center">
                    <label>
                        <input th:text="${answer.answerB}" type="checkbox" class="radio" th:value="${answer.answerB}"
                               name="answer"/></label>
                    <hr>
                </div>
                <div class="col-sm-6 text-center">
                    <label>
                        <input th:text="${answer.answerC}" type="checkbox" class="radio" th:value="${answer.answerC}"
                               name="answer"/></label>
                    <hr>
                </div>
                <div class="col-sm-6 text-center">
                    <label>
                        <input th:text="${answer.answerD}" type="checkbox" class="radio" th:value="${answer.answerD}"
                               name="answer"/></label>
                    <hr>
                </div>
                <div class="col-sm-12 text-center">
                    <button id="sendAnswer"> Send answer</button>
                    <hr>
                </div>
            </div>
        </form>
        <div class="col-sm-3 sidenav">
            <h3>History: </h3>
            <div class="well">
                <table class="">
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Date</th>
                    </tr>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.score}"></td>
                        <td th:text="${user.date}"></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<footer class="container-fluid text-center">
    <p>Created by Michal using Java and Spring</p>

    <p><a href="https://github.com/Michalqq">
        <img src="https://github.blog/wp-content/uploads/2013/04/fffdd290-a5e2-11e2-8099-e1b5d8286da3.jpg?resize=1234%2C272"
             style="width: 100px">
    </a></p>
</footer>

</body>
</html>
<script>
    $("input:checkbox").on('click', function () {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[class='" + $box.attr("class") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            document.getElementById("emptyInput").checked = true;
            $box.prop("checked", false);
        }
    });
</script>